/* Оформление страницы Студия */
:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --primery-bg-color: #f5f4fa;
}

body {
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03 em;
}
.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo-s {
  color: var(--primary-text-color);
}
.site-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.contact .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}
.contact .link:hover,
.contact .link:focus {
  color: var(--accent-color);
}
.solutions-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}
.solutions {
  background-color: #2f303a;
  text-align: center;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.section-advantage {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
.section-work {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.section-position {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.section-paragraph {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}
.section-team {
  background: #f5f4fa;
}

.button-primery {
  color: #ffffff;
  background-color: var(--accent-color);
  cursor: pointer;
}

.footer {
  background-color: #2f303a;
}
.footer .logo-s {
  color: #ffffff;
}
.footer .link {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}
.footer .link:hover,
.footer .link:focus {
  color: var(--accent-color);
}
.adress {
  font-style: normal;
}

/* Оформление страницы Портфолио */

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.contact .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}
.contact .link:hover,
.contact .link:focus {
  color: var(--accent-color);
}
.button-secondary:hover,
.button-secondary:focus {
  color: var(--primary-text-color);
  background-color: var(--primery-bg-color);
  cursor: pointer;
}
.link-img .link {
  color: var(--primary-text-color);
}
.link-img .link:hover,
.link-img .link:focus {
  color: var(--accent-color);
}
